:root {
  --color-background: #121212;
  --color-surface: #1E1E1E;
  --color-text: #E0E0E0;
  --color-accent: #fad691;
  --color-muted: #9E9E9E;
  --color-highlight: #f4bd57;

  scroll-behavior: smooth;
}

.light {
  --color-background: #fafafa;
  --color-surface: #ffffff;
  --color-text: #222222;
  --color-accent: #d97706;
  --color-muted: #6b7280;
  --color-highlight: #facc15;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: var(--color-muted);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--color-accent);
}

.glow-accent {
  color: var(--color-text);
  text-shadow:
    0 0 2px var(--color-highlight),
    0 0 0px var(--color-highlight),
    0 0 2px var(--color-highlight);
}

section {
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 999;
  position: relative;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
}

ul {
  list-style: circle;
  padding-left: 0;
}

li:not(:has(a)) {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
}

@media (max-width: 470px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
}

.project-thumbnail {
  position: absolute;
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
  filter: brightness(0.2);
  padding: 2rem;
}

.project-thumbnail-pill{
  height: 40px;
  width: 40px;
  flex-shrink: 0;
}